// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background {
  color: white;
  background: url("baseball.jpg");
  overflow: auto;
  margin-top: -20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px
}