<div id="new_appointment">
  <div>
    <div>
      <div>
        <button type="button" class="close" aria-hidden="true">&times;</button>
        <h4 >Create New Appointment</h4>
      </div>
      <div>
        <!-- replace 'form' w/ new form -->
        <%= render 'new_form', appointment: @appointment %>
      </div>
    </div>
  </div>
</div>
